<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Site.Title}}</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href='/css/semantic.min.css'/>
    <link rel="stylesheet" type="text/css" href='/css/homepage.css'/>
    <link rel="stylesheet" href="/css/prism.css">
</head>
<body style="background-color: #eee;">
  <div class="ui container-fluid" style="margin: 10px 30px;">
    <br>
    <a href="/"><img src="/images/logo.png"></a>
    <div class="ui divider"></div>
    <br>

    <div class="ui grid stackable">
    	<div class="five wide column">
        {{ partial "navigation.html" . }}
      </div>
      <div class="eleven wide column">
        {{ partial "content.html" . }}

        {{ partial "kbs.html" . }}
      </div>
    </div>
  </div>
  <footer style="padding: 100px; background: #383839; text-align: center; width: 100%;">
      <i class="user icon" style="font-size: 5em; color: white; line-height: 1em;"></i>
      <h2 style="font-weight: bold; color: #f6871f;">Customer support</h2>
      <p style="color: #fff">Can’t find what you need? Give us a call.</p>
      <p style="color: #fff">—</p>
      <h5 style="color: #fff">1.212.863.9918</h5>
      <p style="color: #fff">M – F, 8am to 6pm</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="js/semantic.min.js"></script>
  <script>
    $('.ui.embed').embed();
  </script>

</body>
</html>
