#searchmodal {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
}

#searchmodal.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#searchmodal input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}


#searchmodal #results {
  position: absolute;
  top: 60%;
}

#searchmodal #results li {
  padding: 10px;
  background: #F2711C;
  list-style: none;
  font-weight: bold;
  float: left;
  margin: 5px;
}

#searchmodal #results li a {
  color: #fff;
}

#searchmodal .close {
  position: fixed;
  top: 40px;
  padding: 0;
  margin: 0;
  right: 30px;
  z-index: 12;
  color: #fff;
  font-size: 3em;
}

.search {
  border: 0;
  width: 100%;
  background: #fff;
  border: 1px #ccc solid;
  padding: 20px 30px;
  outline: none;
}

article img {
  max-width: 100%;
}

blockquote {
  border-left: 5px solid #F2711C;
  margin: 20px 0;
}

blockquote p {
  font-size: 1em;
  padding: 10px;
}

.forkme {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background-image: url('/images/fork-me.png');
}

code {
  padding: .3em!important;
}

span {
  border-bottom: 1px #000 dashed;
}
.wrapper {
  position: relative;
}
