{{ if ne .Section "mylearn" }}

<div class="ui four column grid stackable">

  {{ range where .Data.Pages.ByWeight "Section" "!=" "mylearn" }}
  <div class="column">
    <div class="ui card" style="min-height: 400px;">
      <div class="content">
        <a href="{{.URL}}" class="ui orange right ribbon label">KB {{ .Params.kbid }}</a>
        <div class="meta"><i class="wait icon"></i> {{ .Date.Format "Jan 2, 2006" }}</div>
        <div class="header" style="margin-top: 5px;"><a href="{{.URL}}">{{ .Title }}</a></div>
        <div class="description">
          <p>{{ .Params.description }}</p>
        </div>
      </div>
      <div class="extra content">
        <div class="left floated">
          <a href="{{.URL}}"><i class="angle double right icon"></i>Read more</a>
        </div>
        <div class="right floated author">
          <i class="user icon"></i> {{ .Params.Author }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</div>

{{ end }}
