<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ if eq .Section "mylearn" }}
        {{.Title}} | Learning center
      {{ else }}
        {{.Title}} | Knowledge base
      {{ end }}
    </title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href='../css/semantic.min.css'/>
    <link rel="stylesheet" type="text/css" href='../css/homepage.css'/>
    <link rel="stylesheet" href="../css/prism.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="../js/vendor/lunr.min.js"></script>
    <script type="text/javascript" src="../js/search.js"></script>
    <script type="text/javascript" src="../js/homepage.js"></script>
    <script type="text/javascript" src="../js/prism.js"></script>
</head>
<body style="background-color: #eee;">
  <a href="https://github.com/cloudberrylab/kb.cloudberrylab.com"><div class="forkme"></div></a>
  <div class="ui grid container stackable">
    <div id="searchmodal">
      <a href="#" class="close"><i class="icon remove"></i></a>
      <input type="search" id="search" value="" placeholder="Type whatever you want to search ..." />
      <div class="ui container">
        <ul id="results">
        </ul>
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <div class="ui container-fluid" style="margin: 10px 30px;">
    <div class="ui grid stackable">
      <div class="four wide column">
        <a href="/"><img src="/images/logo.png"></a>

      </div>
      <div class="twelve wide column">
        <input class="search" type="text" placeholder="Type whatever you want to search ..." />
      </div>
    </div>

    <div class="ui divider"></div>
    <br>

    <div class="ui grid stackable">
    	<div class="four wide column">
        {{ partial "navigation.html" . }}
      </div>
      <div class="twelve wide column">
        <div class="ui container segment">
          <article>
            <div class="ui item">
              KB: {{ .Params.kbid }}
              <br />
              Last updated: {{ .Params.updated_at }}
            </div>
            {{ partial "content.html" . }}
          </article>
        </div>

        {{ partial "disqus.html" . }}
      </div>
    </div>


  </div>

  {{ partial "footer.html" . }}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="../js/semantic.min.js"></script>
  <script>
    $('.ui.embed').embed();
  </script>

</body>
</html>
