<footer style="padding: 100px; background: #383839; text-align: center; width: 100%;">
    <i class="user icon" style="font-size: 5em; color: white; line-height: 1em;"></i>
    <h2 style="font-weight: bold; color: #f6871f;">Customer support</h2>
    <p style="color: #fff">Can’t find what you need? Give us a call.</p>
    <p style="color: #fff">—</p>
    <h5 style="color: #fff">1.212.863.9918</h5>
    <p style="color: #fff">M – F, 8am to 6pm</p>
    <br />
    <div class="ui container grid centered">
      <a class="ui circular github icon button" href="https://github.com/cloudberrylab/kb.cloudberrylab.com" target="_blank">
        <i class="github icon"></i>
      </a>
      <a class="ui circular linkedin icon button" href="https://www.linkedin.com/company/cloudberry-lab" target="_blank">
        <i class="linkedin icon"></i>
      </a>
      <a class="ui circular facebook icon button" href="https://www.facebook.com/CloudBerryLab" target="_blank">
        <i class="facebook icon"></i>
      </a>
      <a class="ui circular google plus icon button" href="https://plus.google.com/+Cloudberrylab" target="_blank">
        <i class="google plus icon"></i>
      </a>
      <a class="ui circular twitter icon button" href="https://twitter.com/cloudberrylab" target="_blank">
        <i class="twitter icon"></i>
      </a>
      <a class="ui circular youtube icon button" href="https://www.youtube.com/channel/UCUOQdht8WFME8brKdXMzQhQ" target="_blank">
        <i class="youtube icon"></i>
      </a>
    </div>
</footer>
