<!DOCTYPE html>

<html lang="{{ with .Site.LanguageCode}}{{ . }}{{ else }}en-US{{end}}">
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5RNP');</script>
	<!-- End Google Tag Manager -->
	<meta charset="UTF-8">
	<title>{{ if .IsPage }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>
	<style>
    .related-links li {
        display: list-item;
        text-align: -webkit-match-parent;
        margin-bottom:.3125rem
    }
    .related-links ul {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }
	</style>
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}css.css" type="text/css" >

</head>

<body >
<div class="header-main">
	<h1><a href="{{ .Site.BaseUrl }}index.html" rel="home">{{ .Site.Title }}</a></h1>
</div>
